.content {
    height: auto;
}

  .buttons {
    width: fit-content;
    border-radius: 10px;
    border: 2px solid gray;
  }
  
  .buttons .mat-button-base {
    margin: 0px 8px 8px 8px;
  }

  mat-list mat-list-item {
    display: flex;
    justify-content: center;
  }
